/**
 * Design elements for default Template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author Anika Henke <henke@cosmocode.de>
 */

/* -------------- general elements --------------- */

body {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

div.page {
  width: 90%;
  margin: 0 auto 0 auto;
  font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif; /* Lucida Grande for the Macs, Tahoma for the PCs */
  line-height: 1.6em;
  color: #606060;
  background-color: white;
}

div.header {
  border-bottom: 4px solid #948979;
  padding-top: 0.5em;
  clear: both;
  margin-bottom: 0.5em;
}

div.header p { 
  margin-top: -1.5em;
  margin-left: 3em;
  color: #999999;
}

div.header h1 a, div.header h1 a:visited, div.header h1 a:active, div.header h1 a:hover {
  margin: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  color: #CC6633;
  margin-bottom: 30px;
  text-decoration: none;
}

form.search {
  float:right;
  margin-top: -45px;
  font-size: 9px;
}

form.search input {
  background-color: #FFF;
  color: #999999;
  border: 1px solid #CCC;
  font-size: 11px;
  padding: 3px;
}

div.navigation {
  float: right;
  width: 20%;
  margin-left: 1%;
  background-color: #FFF;
}

div.navigation ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;			
  list-style-image: none;			
}

div.navigation li {
  border-bottom: 1px solid #CCC;
  padding: 0.2em;
}

div.navigation a {
  display: block;
  color:#CC6714;
  font-size: 80%;
}

div.navigation a.button {
  display: inline;
  color:#CC6714;
}

div.navigation a:link, div.navigation ul a:visited {
  color:#CC6714;
  text-decoration: none;
}

div.navigation ul a:hover {
  background: #000000 url(/lib/tpl/pyradm.berlios.de/images/arrow.png) 96% 50% no-repeat;
  background-color: #F5F5F5;
  color:#CC6714;
  text-decoration: none;
}

div.navigation p {
  margin-top: 2em;
  padding: 0.5em;
  border-bottom: 1px dotted #CCC;
  border-top: 1px dotted #CCC;
}

div.webbuttons {
  text-align: center;
  margin-top: 2em;
  padding: 0.5em;
  border-bottom: 1px dotted #CCC;
  border-top: 1px dotted #CCC;
}

div.webbuttons a, div.webbuttons a:visited, div.webbuttons a:active, div.webbuttons a:hover {
  display: block;
  margin: 0.5em 0 0.5em 0;
  border: 0;
  text-decoration: none;
}

div.content {
  width: 79%;
  margin-right: 21%;
}

div.page_controls {
  margin-top: 2em;
  border-top: 1px solid #CCC;
}

div.footer {
  margin-top: 2em;
  clear: both;
  background-color:#575352;
  padding: 0 0.5em 0 0.5em;
}

div.footer p, div.footer .pageinfo {
  color:#89817f;
  padding: 0.2em;
}

div.footer .pageinfo {
  text-align: right;
  border-bottom: 1px dotted #89817f;
}
		
div.footer p a {
  color: #89817f;
  border-bottom: 1px dotted #89817f;
}
		
div.footer p a:hover {
  color: #FFFFFF;
  background-color:#575352;
}

/* the document */

table {
  font-size: 100%;
  padding:0;
  margin:0;
}

tr,td,th {padding:0; margin:0;}

img {border:0}

p {padding:0; margin: 0 0 1.0em 0;}

hr {
  border: 0px;
  border-top: 1px solid #8cacbb;
  text-align:center;
  height: 0px;
}

div.nothing {
  text-align:center;
	margin: 2em;
}

/* ---------------- forms ------------------------ */

form {
  border: none;
  margin: 0;
  display: inline;
}

label {
  display: block;
  text-align: right;
  font-weight: bold;
}

label.simple {
  text-align: left;
  font-weight: normal;
}

label input.edit {
  width: 50%;
}

fieldset {
  width: 300px;
  text-align: center;
  border: 1px solid #8cacbb;
  padding: 0.5em;
}

textarea.edit {
  font-family:monospace;
  border: 1px solid #8cacbb;  
  color: Black;
  background-color: white;
  font-size:14px;
  padding: 3px;
  width:100%;
}

input.edit,select.edit {
  font-size: 100%;
  border: 1px solid #8cacbb;
  color: Black;
  background-color: white;
  vertical-align: middle;
  padding: 1px;
  display: inline;
}

input.missing {
  font-size: 100%;
  border: 1px solid #8cacbb;
  color: Black;
  background-color: #ffcccc;
  vertical-align: middle;
  padding: 1px;
  display: inline;
}

/* --------- buttons ------------------- */


input.button, button.button{
  margin: 0;
  padding: 0;
  border-right: 1px dotted #cccccc;
  border-bottom: 1px dotted #cccccc;
  color: Black;
  background-color: white;
  vertical-align: middle;
  text-decoration:none;
  font-size: 100%;
  cursor: pointer;
  display: inline;
}

div.secedit {
  margin-top: -1em;
}

div.secedit input.button {
  color: Black;
  background-color: white;
  vertical-align: middle;
  text-decoration:none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  float:right;
  display: inline;
}

/* ----------- page navigator ------------- */

div.pagenav {
	margin-top:1em;
}

div.pagenav-prev {
	text-align:right;	
	float:left;
	width:50%
}

div.pagenav-prev input.button {
	margin-right:5px;
}

div.pagenav-next {
	text-align:left;
	float:right;
	width:50%
}

div.pagenav-next input.button {
	margin-left:5px;
}

/* --------------- Links ------------------ */

a, a:active, a:visited {
  color:#cc6714;
  text-decoration:none;
}
a:hover {
  color:#cc6714;
  background-color: #f5f5f5;
/*  text-decoration:underline; */
}

/* external link */
a.urlextern, a.urlextern:active, a.urlextern:visited {
    background: transparent url(images/link_icon.gif) 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
    color:#cc6714;
    text-decoration:none;
}

a.urlextern:hover {
  text-decoration:underline;
}

/* windows share */
a.windows, a.windows:active, a.windows:visited {
    background: transparent url(images/windows.gif) 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
    color:#cc6714;
    text-decoration:none;
} 

a.windows:hover { 
  text-decoration:underline;
}

/* interwiki link */
a.interwiki, a.interwiki:active, a.interwiki:visited {
    background: transparent url(images/interwiki.png) 0px 1px no-repeat;
		padding-left: 16px;
    color:#cc6714;
    text-decoration:none;
}

a.interwiki:hover {
  color:#cc6714;
  background-color: #f5f5f5;
}

/* link to some embedded media */
a.media, a.media:active, a.media:visited {
  color:#cc6714;
  text-decoration:none;
}
a.media:hover {
  color:#cc6714;
  background-color: #f5f5f5;
}

/* email link */
a.mail, a.mail:active, a.mail:visited {
  background: transparent url(images/mail_icon.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
  color:#cc6714;
  text-decoration:none;
}
a.mail:hover {
  color:#cc6714;
  background-color: #f5f5f5;
}

/* existing wikipage */
a.wikilink1:link    { color:#009900; text-decoration:none }
a.wikilink1:visited { color:#009900; text-decoration:none }
a.wikilink1:hover   { color:#009900; text-decoration:underline }

/* not existing wikipage */
a.wikilink2:link    { color:#FF3300; text-decoration:none }
a.wikilink2:visited { color:#FF3300; text-decoration:none }
a.wikilink2:hover   { color:#FF3300; text-decoration:underline }


/* ------------- Page elements ----------------- */

div.preview{
  background:#f7f9fa;
  margin-left:2em;
  padding: 4px;
  border: 1px dashed #000000;
}

div.breadcrumbs{
  font-size:80%;
  color: #666666;
  border-bottom: 1px solid #948979;
}

span.user{
  color: #cccccc;
  font-size: 90%;
}

/* embedded images */
img.media {
  margin: 3px;
}

img.medialeft {
  border: 0;
  float: left;
  margin: 0 1.5em 0 0;
}

img.mediaright {
  border: 0;
  float: right;
  margin: 0 0 0 1.5em;
}

img.mediacenter {
  border: 0;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

acronym {
  cursor: help;
  border-bottom: 1px dotted #000;
}

/* general headline setup */
h1, h2, h3, h4, h5 {
    color: Black;
    background-color: transparent;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin-left:    0;
    margin-right:   0;
    margin-top:     0;
    margin-bottom:  1em;
    padding-left:   0;
    padding-right:  0;
    padding-top:    0.5em;
    padding-bottom: 0;
/*    border-bottom: 1px solid #8cacbb; */
/*    clear: left; */
}

/* special headlines */
h1 {font-size: 160%; margin-left: 0px; font-weight: bold;}
h2 {font-size: 150%; margin-left: 20px;}
h3 {font-size: 140%; margin-left: 40px; border-bottom: none; font-weight: bold;}
h4 {font-size: 120%; margin-left: 60px; border-bottom: none; font-weight: bold;}
h5 {font-size: 100%; margin-left: 80px; border-bottom: none; font-weight: bold;}

/* indent different sections */
div.level1 {margin-left: 3px;}
div.level2 {margin-left: 23px;}
div.level3 {margin-left: 43px;}
div.level4 {margin-left: 63px;}
div.level5 {margin-left: 83px;}

/* unordered lists */
ul { 
  line-height: 1.5em;
  list-style-type: square;
  margin: 0 0 0.5em 1.5em;
  padding: 0;
}

ul ul { list-style-type: disc; }
ul ul ul { list-style-type: circle; }

/* ordered lists */
ol {
  line-height: 1.5em;
  margin: 0 0 0.5em 1.5em;
  padding: 0;
  color: #638c9c;
  font-weight: bold;
  list-style-image: none;
}

/* the list items overriding the ol definition */
.li {
  color: #000000;
  font-weight: normal;
}

ol {list-style-type: decimal}
ol ol {list-style-type: upper-roman}
ol ol ol {list-style-type: lower-alpha}
ol ol ol ol {list-style-type: lower-greek}

li.open {
  list-style-image: url(images/open.gif);
}

li.closed {
  list-style-image: url(images/closed.gif);
}

blockquote {
  border-left: 2px solid #8cacbb;
  padding-left: 3px;
  margin-left: 0;
}

/* code blocks by indention */
pre.pre {
  font-size: 120%;
  padding: 0.5em;
  border: 1px dashed #8cacbb;
  color: Black;
  background-color: #f7f9fa;
  overflow: auto;
}

/* code blocks by code tag */
pre.code {
  font-size: 120%;
  padding: 0.5em;
  border: 1px dashed #cccccc;
  color: Black;
  background-color: #f5f5f5;
  overflow: auto;
}

/* inline code words */
code {
  font-size: 120%;
}

/* code blocks by file tag */
pre.file {
  font-size: 120%;
  padding: 0.5em;
  border: 1px dashed #8cacbb;
  color: Black;
  background-color: #dee7ec;
  overflow: auto;
}

/* inline tables */
table.inline {
  background-color: #ffffff;
  border-spacing: 0px;
  border-collapse: collapse;
}

table.inline th {
  padding: 3px;
  border: 1px solid #8cacbb;
  background-color: #dee7ec;
}

table.inline td {
  padding: 3px;
  border: 1px solid #8cacbb;
}

.leftalign{
  text-align: left;
}

.centeralign{
  text-align: center;
}

.rightalign{
  text-align: right;
}

/* ---------- table of contents ------------------- */

div.toc {
  margin-left: 2em;
  margin-top: 1.2em;
  margin-bottom: 0;
  float:right;
  width: 200px;
  font-size: 80%;
/*  clear:both; */
}

div.tocheader {
  margin: 0.2em;
  border-bottom: 1px solid #cccccc;
  text-align: left;
  font-weight:bold;
}

div.toctoggle {
  float:right;
  margin: 0.5em;
}

div.toctoggle img {
  width:1em;
  height:1em;
}

#tocinside {
  border-bottom: 1px solid #cccccc;
  background-color: #ffffff;
  text-align: left;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
}

ul.toc {
  list-style-type: none;
  list-style-image: none;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

ul.toc li {
  background: transparent url(images/tocdot2.gif) 0 0.6em no-repeat;
  padding-left:0.4em;
}

ul.toc li.clear {
  background-image: none;
  padding-left:0.4em;
}

a.toc, a.toc:active, a.toc:visited {
  color: #cc6714;
  text-decoration:none;
}

a.toc:hover {
  color: #cc6714;
  background-color: #f5f5f5;
}

/* ---------------------------- Diff rendering --------------------------*/
table.diff { background:white; }
td.diff-blockheader {font-weight:bold}
td.diff-header {
  border-bottom: 1px solid #8cacbb;
  font-size:120%;
}
td.diff-addedline {
    background:#ddffdd;
    font-family: monospace;
    font-size: 100%;
}
td.diff-deletedline { 
    background:#ffffbb;
    font-family: monospace;    
    font-size: 100%;
}
td.diff-context {
    background:#f7f9fa;
    font-family: monospace;
    font-size: 100%;
}
span.diffchange { color: red; }

/* --------------------- footnotes -------------------------------- */

div.footnotes{
/*  clear:both; */
  border-top: 1px solid #8cacbb;
  padding-left: 1em;
  margin-top: 1em;
}

div.fn{
  font-size:90%;
}

a.fn_top{
  vertical-align:super;
  font-size:80%;
}

a.fn_bot{
  vertical-align:super;
  font-size:80%;
  font-weight:bold;
}

/* insitu-footnotes */
div.insitu-footnote {
  font-size: 80%;
  line-height: 1.2em;
  border: 1px solid #8cacbb;
  background: #eef3f8;
  text-align: left;
  padding: 4px;
  max-width: 40%;    /* IE's width is handled in javascript */  
}

/* overcome IE issue with one line code or file boxes which require h. scrolling */
* html .insitu-footnote pre.code, * html .insitu-footnote pre.file {
  padding-bottom: 18px;
}

/* --------------- search result formating --------------- */
.search_result{
  margin-bottom: 6px;
  padding-left: 30px;
  padding-right: 10px;
}

.search_snippet{
  color: #999999;
  font-size: 12px;
  margin-left: 20px;
}

.search_sep{
  color: #000000;
}

.search_hit{
  color: #000000;
  background: #FFFF99;
}

div.search_quickresult{
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #8cacbb;
  margin-left: 30px;
  padding-right: 10px;
}

div.search_quickhits {
  margin-left: 1em;
  float:left;
  background: transparent url(images/bullet.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 8px;
  width: 30%;
}

/* ---- Admin --- */

div.acladmin label {
  text-align: left;
  font-weight: normal;
  display: inline;
}

div.acladmin table{
  margin-left: 10%;
  width: 80%;
}

/* ---------- AJAX quicksearch ----------- */

div.ajax_qsearch {
  position:absolute;
  right:237px;;
  width: 200px;
  opacity: 0.9;
  display:none;
  font-size: 80%;
  line-height: 1.2em;
  border: 1px solid #8cacbb;
  background: #eef3f8;
  text-align: left;
  padding: 4px;
}

/* ---------- Spellchecking ------------- */

a.spell_error {
  color: #ff0000;
  text-decoration: underline;
}

div#spell_suggest {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  background-color: #fff;
  padding: 2px;
  border: 1px solid #000;
  font-size:80%;
  z-index: 2;
}

div#spell_result {
  display:none;
  font-family:monospace;
  border: 1px solid #8cacbb; 
  color: Black;
  font-size:14px;
  padding: 3px;
  background-color: #f7f9fa;
  overflow: auto;
  z-index: 1;

  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

span.spell_noerr {
  color: #009933;
}

span.spell_wait {
  color: #0066cc;
}

/* ---------------  Image Details  ----------------- */

div.img_big {
  float: left;
  margin-right: 0.5em;
}

dl.img_tags dt {
  font-weight: bold;
  background-color: #dee7ec;
}
dl.img_tags dd {
  background-color: #f5f5f5;
}

div.imagemeta {
  color: #666;
  font-size: 70%;
  line-height: 95%;
}

div.imagemeta img.thumb{
  float:left;
  margin-right: 0.1em;
}

/* -------------- Media Popup ---------------------- */

div.mediaselect-right li, div.uploadform { 
  clear: both;
}

div.mediaedit div.data label{
	display: block;
  text-align: right; 
  width: 20%;
  float: left;
  margin-right: 0.5em;
}

div.mediaedit div.data input, div.mediaedit div.data textarea{
  width: 75%;
  padding: 0.1em;
  margin: 0.1em;
}

div.mediaedit div.data input.button {
  width: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/**
 * Tableless Layout for default template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author moraes <moraes@tipos.com.br>
 */

/* -------------- top row --------------- */

.pagename {
	height:25px;
	float:left;
	font-size:200%;
	font-weight:bolder;
	color:#DEE7EC;
	text-align:left;
	vertical-align:middle;
	padding:1px 0 0 1px;
}

.pagename a:link, .pagename a:visited {
  color:#cc6714;
  text-decoration:none;
}

.pagename a:hover, .pagename a:active {
  color:#CC6714;
  background-color: #F5F5F5;
}

.logo {
	float:right;
	font-size:220%;
	font-weight:bolder;
	text-align:right;
	vertical-align:middle;
}

.logo a:link, .logo a:visited, .logo a:hover, .logo a:active {
	color:#dee7ec;
	text-decoration:none;
	font-variant:small-caps;
	letter-spacing:2pt;
}

/* ---------------  top and bottom bar ---------------- */
.bar {
	height:25px;
	border-top:1px solid #8CACBB;
	border-bottom:1px solid #8CACBB;
	background:#DEE7EC;
	padding:2px;
	margin:0;
  clear: both;
}

.bar-left {
	float:left;
}

.bar-right {
	float:right;
  text-align:right;
}

#bar_bottom {
  margin-bottom:3px;
}

/* ------------- File Metadata ----------------------- */

div.meta {
  clear: both;
  margin-top: 1em;
  color:#436976;
  font-size:70%;
}

div.meta div.user {
  float:left;
}

div.meta div.doc{
  text-align:right;
}

/* ---------------  Media Selection  ----------------- */

div.uploadform {
  margin-top: 0.5em;
  border-top: 1px solid #8cacbb;
}

.mediaselect-left {
  float:left;
  padding: 0.5em;
  width:30%;
}

.mediaselect-right {
  float:right;
  border-left: 1px solid #8cacbb;
  padding: 0.5em;
  width:65%;
}

div.mediaref_head {
	margin-left:0.5em;
}

div.mediaref .search_result {
	padding-left:1em;
}

.mediaref_ref {
	color:#009900;
}

div.mediaref_hidden {
	margin-top:1em;
	text-align:center;
	font-size:1.2em;
	color:#BB0000;
}

div.mediaref_footer {
	margin-top:1em;
	text-align:center;
}

